
<h1><a href="/">Chefs</a> | Dishes</h1>
<a href="/addDish">Add a Dish</a>
<p>Check out our roster of Dishes!</p>
@{
    foreach(var dish in @Model) {
        <table>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
            <tr>
                <td>@dish.DishName</td>
                <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        </table>
    }
}